/* 
    Created on : 4.11.2014, 11:33:25
    Author     : Martin
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
body {
    padding-top: 50px;
}

#login-overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1500;
    background: #000;
    opacity: 0.9;

}
.login-dialog  {   
    height: 80px;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

} 
#main-fblike {
    margin-top: 15px;
    margin-bottom: 15px;
}
#map-canvas, #wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

#map-canvas {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top:50px; 
}   
.navbar-brand {
    color: #fff!important;
}
#navbar-inner, #wrapper {
    display: none;
}    
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.logo img {
    display: inline;
}
canvas {
    position: absolute; 
    left: -9999em;
}
#video-frame {
    width: 100%; 
}
#preview {
    width: auto;  
    max-width: 100%;
    max-height: 35%;
}
#form-expires { 
    cursor: pointer;
}
.file-input-name {
    display: none;
}
#video-frame, #form-take-photo, #form-map-canvas, #form-get-actual-position {
    display: none;
}

div.alert-messages {
    position: fixed;
    top: 50px;
    left: 30%;
    right: 30%;
    z-index: 11000;
    opacity: .9;
}
#content-image {
    width: 100%;
    margin-bottom: 10px;
}

/*Facebook like */
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr, .fb_edge_comment_widget {
    display: none !important;
}
.nopopup {
  overflow: hidden;
  width: 70%;
  height: 30px;
}

textarea {
    resize: none;
}